---
---

::selection {
  background: rgba({{ site.theme-color }}, .2);
}

::-moz-selection {
  background: rgba({{ site.theme-color }}, .2);
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Content */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: rgba({{ site.text-color }}, .8);
  background-color: rgb({{ site.background-color }});
  background-repeat: no-repeat;
  background-size: 100%;
}
html, body {
  height: 100%;
}
p, form {
  line-height: 1.4;
  margin: 30px auto;
  word-wrap: break-word;
}
p * {
  line-height: 1em; /* Bold font line-height fix */
}
strong {
  font-weight: 700;
}
i, em {
  font-style: italic;
}
a {
  color: inherit;
  text-decoration: underline;
  transition: all ease 0.3s;
}
a:hover {
  color: rgba({{ site.theme-color }},1);
}
.no-cssgradients a {
  text-decoration: underline;
}
ul,
ol {
  margin: 30px auto;
  padding-left: 30px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  margin: 20px 0;
  line-height: 1.4;
}
li * {
  line-height: 1em; /* Bold font line-height fix */
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.img-only {
  margin: 0 -15px;
  background-color: rgba({{ site.text-color }},.05);
}
.img-only-source {
  margin: 0 -15px;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 900;
  background-image: none;
  text-decoration: none !important;
  word-wrap: break-word;
  word-spacing: normal;
  letter-spacing: normal;
}
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 30px;
}
h3, h4, h5, h6 {
  font-size: 1.05em;
  margin-bottom: 20px;
}
.meta {
  color: rgba({{ site.text-color }}, 0.5);
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: .8em;
}
.fluid-width-video-wrapper {
  margin: 30px auto;
}
table {
  border-collapse: collapse;
  margin: 30px auto;
}
td, th {
  padding: .8rem
}
th {
  background-color: rgba({{ site.text-color }}, 0.05);;
}
tr {
  border-bottom: 1px solid  rgba({{ site.text-color }}, 0.05);
}
tr:last-child {
  border: none;
}
thead {
  border-bottom: 2px solid rgba({{ site.theme-color }}, .4);
}
tfoot {
  border-top: 2px solid rgba({{ site.theme-color }}, .4);
}
blockquote {
  padding: 0 20px;
  font-style: italic;
}
blockquote::before,
blockquote::after {
  font-weight: 400;
  font-size: 80px;
  color: rgba({{ site.theme-color }}, .4);
  display: block;
  text-align: center;
  vertical-align: bottom;
  height: 40px;
  font-style: normal;
}
blockquote::before {
  content: "“";
  margin-top: 30px;
}
blockquote::after {
  content: "”";
  margin-bottom: 30px;
}
code {
  font-family: "Source Code Pro", monospace;
}
p code {
  font-size: .7em;
  display: inline-block;
  border-radius: 2px;
  background-color: rgba({{ site.text-color }},.05);
  border: 1px solid rgba({{ site.text-color }},.1);
  padding: 0 3px;
}
pre {
  display: block;
  background-color: rgba(0,0,0,.8);
  overflow-y: hidden;
  overflow-x: auto;
  font-size: 14px;
  padding: 15px;
  border-radius: 4px;
  color: #f8f8f2;
  line-height: 1.4;
  margin: 30px auto;
}
pre code {
  font-size: 14px;
}
small {
  font-size: .8em;
  color: rgba({{ site.text-color }},.5);
}
small a {
  color: inherit;
  background-image: -webkit-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -moz-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -o-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -ms-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
}
hr {
  border:none;
  background-color: rgba({{ site.theme-color }}, .4);
  margin: 60px auto;
  width: 30%;
  height: 2px;
}
.cover-image-container {
  position: absolute;
  z-index: -9999;
  opacity: .7;
  width: 100%;
}
.cover-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  {% include gradient.css %}
}

/* Structure */

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 700px;
  min-height: 100%;
  margin-bottom: -141px;
}
.wrap::after {
  content: "";
  display: block;
  height: 141px;
}
header {
  padding-top: 20px;
  position: relative;
  color: rgba({{ site.text-color }},.5);
}
header img {
  height: 32px;
  display: inline-block;
}
nav {
  margin: 20px 0;
}
article {
  margin-top: 30px;
}
article::after {
  margin: 50px 0;
  content: "•";
  line-height: 0;
  font-size: 60px;
  display: block;
  text-align: center;
  color: rgba({{ site.theme-color }}, 0.4);
}
article:last-of-type::after {
  content: "";
  margin-top: 80px;
  margin-bottom: 0;
}
a.read-more {
  display: inline-block;
  background-image: none;
  text-decoration: none !important;
  font-weight: 600;
}
input[type="email"],
textarea {
  font: inherit;
  display: block;
  border-radius: 4px;
  margin-bottom: 30px;
  border: 1px solid rgba({{ site.text-color }},.1);
  padding: 8px 15px;
  width: 100%;
  box-sizing: border-box;
}
input[type="submit"] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: inherit;
  font-weight: 600;
  color: rgba({{ site.text-color }},.76);
  background-color: rgba({{ site.text-color }},.05);
  border-radius: 4px;
  padding: 8px 15px;
  width: 100%;
  border: 1px solid rgba({{ site.text-color }},.1);
  cursor: pointer;
}
.pagination {
  margin-top: -30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 600;
  padding-bottom: 50px;
}
.pagination a {
  background-image: none;
  text-decoration: none !important;
}
.pagination .disabled {
  color: rgba({{ site.text-color }},.1);
}
.pagination .left {
  float: left;
}
.pagination .right {
  float: right;
}
#disqus_thread {
  margin-bottom: 50px;
}
footer {
  font-size: 0.8em;
  color: rgba({{ site.text-color }},0.5);
  text-align: center;
  background-color: rgba({{ site.text-color }}, 0.05);
  border-top: 1px solid rgba({{ site.text-color }}, 0.1);
  height: auto;
  margin-top: 50px;
}
footer a {
  background-image: none;
  text-decoration: none !important;
  font-weight: 600;
}
footer .inner {
  margin: 0 auto;
  max-width: 740px;
}

.footer-links a {
  margin: 0 10px;
  display: inline-block;
}


/* Content overwrites */

.website-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  display: block;
  background-image: none;
  text-decoration: none !important;
  color: rgba({{ site.text-color }}, .76);
}
nav a {
  display: block;
  padding: 5px;
  text-align: center;
  background-image: none;
  text-decoration: none !important;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
nav a:hover {
  color: rgba({{ site.theme-color }},1);
}

nav a.current {
  color: rgba({{ site.theme-color }}, 1)
}
.subtitle {
  margin: 30px 0;
  color: rgba({{ site.text-color }},.5);
}
.subtitle a {
  background-image: -webkit-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -moz-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -o-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -ms-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
}


.columns {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 99%;
  padding: 0 0.5%;
}

.join-card {
  text-align: center;
  margin: 20px 0;
  color: white;
  padding: 30px 0;
  border-radius: 3px;
}

.slack {
  background: #4B154C;
}

.discord {
  background: #7289DA;
}


.btn {
  padding: 15px 30px;
  width: 60%;
  color: black;
  background: white;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  transition: all ease 0.3s;
}

.btn:hover {
  background: rgba(0, 0, 0 , .2);
  color: white;
}

.platform-icon {
  margin-bottom: 10px;
}

.header-content {
  text-align: center;
}

.join-us {
  text-align: center;
  margin: 0;
}

.sub {
  font-size: 0.7em;
  margin: 0;
}

.main-header {
  color: rgba({{ site.theme-color }});
}

.display-center {
  text-align: center;
  display: inline-block;
  line-height: 1.5em;
}

/* Structure overwrites */

@media all and (min-width: 370px) {
  .website-title {
    font-size: 32px;
  }
}
@media all and (min-width: 500px) {
  .wrap {
    padding: 0 30px;
  }
  footer .inner {
    padding: 30px 30px;
  }
  .subtitle,
  .fluid-width-video-wrapper,
  ol,
  ul,
  pre,
  p,
  form {
    margin: 40px 0;
  }
  ol, ul {
    padding-left: 50px;
  }
  li {
    padding-left: 10px;
    margin: 30px 0;
  }
  table {
    margin: 40px auto;
  }
  article::after,
  header::after {
    margin: 70px;
  }
  h1 {
    font-size: 2.6em;
    margin-bottom: -10px;
  }
  h2 {
    font-size: 1.8em;
    margin-top: 60px;
    margin-bottom: -10px;
  }
  h3, h4, h5, h6 {
    font-size: 1.2em;
  }
  .img-only {
    margin: 0 -30px;
  }
  .img-only-source {
    margin: 0 -30px;
  }
  blockquote {
    padding: 0 30px;
    font-size: 1.3em;
  }
  hr {
    margin: 90px auto;
  }
}
@media all and (min-width: {{ site.nav-breaking-point }}) {
  .website-title {
    text-align: left;
  }
  nav {
    position: absolute;
    top: 20px;
    right: 0;
    margin: 0;
  }
  nav a {
    display: inline-block;
    padding: 5px 8px;
  }
  .website-title {
    margin-bottom: 80px;
  }
  .col-6 {
    width: 49%;
    padding: 0 0.5%;
  }
}
@media all and (min-width: 760px) {
  h1 {
    font-size: 2.9em;
  }
  article:last-of-type::after {
    content: "";
    margin-top: 120px;
    margin-bottom: 0;
  }
}

	
@media (prefers-color-scheme: dark) {
     body {
        background: #1A202C;
        color: #EDF2F7;
    }
    a {
      color: #EDF2F7;
    }
    .website-title {
      color: #EDF2F7;
    }
    .sub-box {
      background: #EDF2F7;
    }
    footer {
      background: rgb(16, 20, 27);
      color: #EDF2F7;
    }
}