<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>
{% if page.title %}
{{ page.title }} • {{ site.name }}
{% else %}
{{ site.name }}
{% endif %}
</title>
<meta name="description" content="{{ page.summary }} {{ site.description }}">
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ site.url }}/feed.xml">
<meta name="theme-color" content="#49f4ff">

<!-- icons -->
<link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.url }}/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ site.url }}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.url }}/android-chrome-192x192.png" sizes="192x192">
<meta name="msapplication-TileColor" content="#FF3300">
<meta name="msapplication-TileImage" content="{{ site.url }}/mstile-310x310.png">
<!-- /icons -->

<!-- og tags -->
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }} • {{ site.name }}{% else %}{{ site.name }}{% endif %}">
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:description" content="
{% if page.summary %}
{{ page.summary }}
{% else %}
{{ site.description }}
{% endif %}">
<!-- /og tags -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ site.url }}/js/readingTime.js"></script>
<script src="{{ site.url }}/js/fitvids.js"></script>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900|Crimson+Text:700italic,600,600italic,400,700,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.url }}/styles/reset.css">
<link rel="stylesheet" href="{{ site.url }}/styles/pygments.css">
<link rel="stylesheet" href="{{ site.url }}/styles/style.css">

{% if page.home != true or site.subtitle == false %}
<style>
header {
  margin-bottom: 40px;
}
@media all and (min-width: 500px) {
  header {
    margin-bottom: 100px;
  }
}
header::after {
  display: none;
}
</style>
{% endif %}
