<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% if page.title %}
	<title>{{ page.title }} · {{ site.title }}</title>
{% else %}
	<title>{{ site.title }}</title>
{% endif %}

<meta name="description" content="Community Chat is a private network of community leaders who believe the best way to impact the world is through community. Together, we help each other navigate the world of community building by sharing resources, strategies, and best practices. ">

<script src="https://kit.fontawesome.com/09d99c41d9.js" crossorigin="anonymous"></script>

<link rel="icon" href="{{ "/assets/favicon-32x32.png" | prepend: site.baseurl | prepend: site.url }}">
<link rel="apple-touch-icon" href="{{ "/assets/apple-touch-icon.png" | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
<link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />


{% if site.mathjax %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
