<div class="pagination clearfix">
  <div class="previous">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a href="{{ site.url }}/">‹ Newer</a>
      {% else %}
        <a href="{{ site.url }}/page-{{paginator.previous_page}}/">‹ Newer</a>
      {% endif %}
    {% else %}
      <span class="disabled">‹ Newer</span>
    {% endif %}
  </div>
  <div class="next">
    {% if paginator.next_page %}
      <a href="{{ site.url }}/page-{{paginator.next_page}}/">Older ›</a>
    {% else %}
      <span class="disabled">Older ›</span>
    {% endif %}
  </div>
</div>
