// Accordions
.accordion {
  input:checked ~,
  &[open] {
    & .accordion-header {
      .icon {
        transform: rotate(90deg);
      }
    }

    & .accordion-body {
      max-height: 50rem;
    }
  }

  .accordion-header {
    display: block;
    padding: $unit-4 $unit-6;
    font-weight: 700;
    border-radius: $border-radius;
    transition: 0.4s;
    margin: 0;
    color: $gray-color-dark;

    &:hover {
      color: $primary-color;
      text-decoration: none;
      border-bottom: none;
    }

    .icon {
      transition: transform .25s;
    }
  }

  .accordion-body {
    margin-bottom: $layout-spacing;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s;
  }
}

// Remove default details marker in Webkit
summary.accordion-header {
  &::-webkit-details-marker {
    display: none;
  }
}
