// Breadcrumbs
.breadcrumb {
  list-style: none;
  margin: $unit-1 0;
  padding: $unit-1 0;

  .breadcrumb-item {
    color: $gray-color;
    display: inline-block;
    margin: 0;
    padding: $unit-1 0;

    &:not(:last-child) {
      margin-right: $unit-1;

      a {
        color: $gray-color;
      }
    }

    &:not(:first-child) {
      &::before {
        color: $gray-color;
        content: ">";
        padding-right: $unit-2;
      }
    }
  }
}
