// Chips
.chips {
  margin: 10px 0;
}
.chip {
  align-items: center;
  background: transparent;
  border-radius: 5rem;
  border: 1px solid $gray-color;
  display: inline-flex;
  font-size: 100%;
  height: $unit-6;
  line-height: $unit-4;
  margin: $unit-h;
  max-width: $control-width-sm;
  padding: $unit-2;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  &.success {
    background-color: $success-light;
    border: 1px solid $success-light;
    p {
      opacity: 1;
      color: $success;
    }
  }

  .cei-number {
    padding: 0 $unit-2;
  }

  &.active {
    background: $primary-color;
    color: $gray-color-light;
    border: 1px solid $primary-color;
  }

  .avatar {
    margin-left: -$unit-2;
    margin-right: $unit-1;
  }

  .btn-clear {
    border-radius: 50%;
    transform: scale(.75);
  }
}

.chip-double {
  margin: 0;
  padding: 0;
  display: inline-flex;
  border-radius: 5rem;
  text-decoration: none;
  height: $unit-6;
  p:first-child {
    background: none;
    padding: 0 $unit-2;
    border-radius: 5rem 0 0 5rem;
  }
  &.success {
    border: 1px solid $success;
    p:last-child {
      background: $success;
      padding: 0 $unit-2;
      border-radius: 0 5rem 5rem 0;
      color: $white;
    }
  }
  &.error {
    border: 1px solid $error-light;
    p:last-child {
      background: $error-light;
      padding: 0 $unit-2;
      border-radius: 0 5rem 5rem 0;
      color: $dark-color;
    }
  }
  &.secondary {
    border: 1px solid $secondary-color;
    p:last-child {
      background: $secondary-color;
      padding: 0 $unit-2;
      border-radius: 0 5rem 5rem 0;
      color: $dark-color;
    }
  }
  
  
}
