.icon-circle {
      padding: 16px;
      width: 50px;
      display: inline;
      border-radius: 50%;
      line-height: 50px;
      background: $secondary-color;
      color: $primary-color;
      font-size: 28px;
}

.icon-circle-2 {
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $secondary-color;
      color: $primary-color;
      font-size: 28px;
      border-radius: 50%;
}

.pr {
      font-size: 80px;
      color: $gray-color;
      margin: 10px 60px 0;
}


.theme-commsor {
      --fa-secondary-opacity: 0.4;
      --fa-primary-color: #5D51D9;
      &:hover {
      --fa-primary-color: #fc6352;  
      }
}