// Builds on `panel`

.jobs-panel {
  $jobs-panel-inner-height: 80vh;

  &-jobs-panel > .panel-body,
  &-communities-panel > .panel-body {
    height: $jobs-panel-inner-height;
    overflow-x: hidden;
  }

  &-status {
    display: inline;
    margin: $layout-spacing;
  }
}