@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

// Core variables
$version: "0.5.8";

// Core features
$rtl: false !default;


// Core colors
$summit: #6515DD !default;
$summit-dark: #5212B0 !default;
$summit-pink: #FF56CB !default;
$summit-pinkdark: #DB3CAA !default;

.rock-salt {
  font-family: "Rock Salt";
}

.sigmar {
  font-family: "Sigmar One";
}

.bg-summit {
  background-color: $summit;
}

.text-summit {
  color: $summit;
}

.text-summitpink {
  color: $summit-pink;
}

.btn-summit {
  background-color: $summit-pink;
  padding: 15px 40px;
  color: $white;
  &:hover {
    background-color: $summit-pinkdark;
    color: $white;
  }
}

.offset {  
  box-shadow: 
    0 0 0 0 $summit-pink,
    inset 0 0 0 0 $summit-pinkdark;
  
  &:hover,
  &:focus {
    box-shadow: 
      0.3em 0.3em 0 0 $summit-pink,
      inset 6em 3.5em 0 0 $summit-pinkdark;
  }
}

.offset-link {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: $summit;
  padding: 1px 3px;
  &::after {
    content: "";
    background: rgba($summit, 0.15);
    position: absolute;
    left: 12px;
    bottom: -6px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: -1;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }
  &:hover {
    color: $summit-pink;
  }
  &:hover:after {
    background: rgba($summit-pink, 0.25);
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
  }
}

.offset-link-pink {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: $summit-pink;
  padding: 1px 3px;
  &::after {
    content: "";
    background: rgba($summit-pink, 0.15);
    position: absolute;
    left: 12px;
    bottom: -6px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: -1;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }
  &:hover {
    color: $summit-pink;
  }
  &:hover:after {
    background: rgba($summit-pink, 0.25);
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
  }
}


.offset-2 {
  position: relative;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  border: 2px solid transparent;
  box-shadow:
    0 0 0 0 $summit-pink;

  &:hover,
  &:focus {
    box-shadow:
      0.5em 0.5em 0 0 $summit-pink;
    border: 2px solid $summit;
  }
}

.speaker-title {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: $summit;
  padding: 5px 15px;
  margin-bottom: 0;
  &.s-1::after {
    content: "";
    background: rgba($summit, 0.15);
    position: absolute;
    right: 0px;
    bottom: -6px;
    width: calc(100% - 30px);
    height: calc(100% - 14px);
    z-index: -1;
  }
  &.s-2::after {
    content: "";
    background: rgba($summit, 0.15);
    position: absolute;
    left: 0px;
    top: -3px;
    width: calc(100% - 30px);
    height: calc(100% - 14px);
    z-index: -1;
  }
  &.s-3::after {
    content: "";
    background: rgba($summit, 0.15);
    position: absolute;
    right: 10px;
    top: 10px;
    width: calc(100% - 30px);
    height: calc(100% - 14px);
    z-index: -1;
  }
}

.speakers {
  .column:nth-child(3n) {
    .speaker-image:hover {
      transform: rotate(4deg);
    }
  }
  .column:nth-child(5n) {
    .speaker-image:hover {
      transform: rotate(-1deg);
    }
  }
  .column:nth-child(8n) {
    .speaker-image:hover {
      transform: rotate(2deg);
    }
  }
}

.speaker-image {
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    transform: rotate(-3deg);
  }
}

.summit-logo {
  width: 110%;
  bottom: -150px;
  right: -20px;
}

@media (max-width: $size-sm) {
  .summit-logo {
    bottom: -80px;
  }
}