---
# front matter
---

// Variables and mixins
@import "../_sass/variables";
@import "../_sass/mixins";

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "../_sass/normalize";
@import "../_sass/base";

// Elements
@import "../_sass/typography";
@import "../_sass/asian";
@import "../_sass/buttons";
@import "../_sass/forms";
@import "../_sass/media";

// Layout
@import "../_sass/layout";
@import "../_sass/navbar";

// ../_sass
@import "../_sass/cards";
@import "../_sass/menus";
@import "../_sass/panels";
@import "../_sass/steps";
@import "../_sass/tabs";
@import "../_sass/tiles";

@import "../_sass/dashboard";


// Utility classes
@import "../_sass/animations";
@import "../_sass/utilities";

#anglesvg {
      display: block;
}

.membership-content {
  min-height: calc(100vh - 90px);
}

.membership-footer {
  height: 50px;
}

.x-wing {
  opacity: 0;
  transition: all 0.2s ease;
  &:hover {
    opacity: 1;
  }
}