---
# front matter
---

// Variables and mixins
@import "../_sass/variables";
@import "../_sass/mixins";

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "../_sass/normalize";
@import "../_sass/base";

// Elements
@import "../_sass/typography";
@import "../_sass/asian";
@import "../_sass/tables";
@import "../_sass/buttons";
@import "../_sass/forms";
@import "../_sass/labels";
@import "../_sass/codes";
@import "../_sass/media";

// Layout
@import "../_sass/layout";
@import "../_sass/navbar";
@import "../_sass/footer";

// ../_sass
@import "../_sass/accordions";
@import "../_sass/avatars";
@import "../_sass/badges";
@import "../_sass/breadcrumbs";
@import "../_sass/cards";
@import "../_sass/chips";
@import "../_sass/dropdowns";
@import "../_sass/empty";
@import "../_sass/icons";
@import "../_sass/jobs-panel";
@import "../_sass/menus";
@import "../_sass/modals";
@import "../_sass/navs";
@import "../_sass/pagination";
@import "../_sass/panels";
@import "../_sass/popovers";
@import "../_sass/sliders";
@import "../_sass/steps";
@import "../_sass/tabs";
@import "../_sass/timelines";
@import "../_sass/tiles";
@import "../_sass/toasts";
@import "../_sass/tooltips";

@import "../_sass/bubble-test.scss";
@import "../_sass/dashboard";
@import "../_sass/landing";

// Utility classes
@import "../_sass/animations";
@import "../_sass/utilities";

#anglesvg {
      display: block;
}

.membership-content {
  min-height: calc(100vh - 90px);
}

.membership-footer {
  height: 50px;
}

.x-wing {
  opacity: 0;
  transition: all 0.2s ease;
  &:hover {
    opacity: 1;
  }
}