---
layout: compress
published: true
---

<!DOCTYPE html>
<html lang="en" data-theme="light">

	<head>
		{% include head.html %}
	</head>

	<body class="bg-white">
		<div class="columns">
			<div class="column col-12 text-center">
				<div class="bg-summit p-4">
					<p class="m-0" style="opacity: 1; color: #fff;">The <span class="text-bold">2020 Community Chat Virtual Summit</span> is happening June 3-4. <a class="text-bold text-summitpink" href="/summit">Learn more ➝</a></p>
				</div>
			</div>
		</div>
		<div class="container grid-xl">
		{% include header.html %}
			<div id="content">
	
				{{ content }}
			</div>
			{% include footer.html %}
		</div>

		<script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
		<noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript> 
	</body>

</html>
