---
layout: page
---

<!--{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = site.var_less_than_a_minute_read %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
{% endif %}-->

<article>
  <!--<span class="meta">{{ page.date | date: site.date_format }} • {{ read-time }}</span>-->
  <p>{{ page.summary }}</p>
  {{ content }}
  <section id="more-work">
      {% if page.previous %}
          {% assign previous = page.previous %}
      {% else %}
          {% assign previous = site.posts[0] %}
      {% endif %}
      {% if page.next %}
          {% assign next = page.next %}
      {% else %}
          {%comment%}
              As the array index start at zero we substract 1 to the total count,
              we then get the last post index in the site.posts array
          {%endcomment%}
          {% assign last lastPostIndex = site.posts | size | minus: 1 %}
          {% assign next = site.posts[lastPostIndex] %}
      {% endif %}
      <hr>
      <div class="columns">
        <div class="col-6">
          <div class="left ama-post">
            <a class="equalize" href="{{site.baseurl}}{{previous.url}}" title="Previous Post: {{previous.title}}">
              <div>
                <p> ← Previous </p>
                <p> {{previous.title}} </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="right ama-post">
            <a class="equalize" href="{{site.baseurl}}{{next.url}}" title="next Post: {{next.title}}">
              <div>
                <p> Next →</p>
                <p> {{next.title}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      
  
      
     
  </section>
</article>

{% if site.display-next-prev-post and page.previous.url or site.display-next-prev-post and page.next.url %}
<div class="pagination clearfix">
  <div class="left">
    {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl }}">‹ {{ site.var_next_post }}</a>
    {% else %}
      <span class="disabled">‹ {{ site.var_next_post }}</span>
    {% endif %}
  </div>
  <div class="right">
    {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ site.var_previous_post }} ›</a>
    {% else %}
      <span class="disabled">{{ site.var_previous_post }} ›</span>
    {% endif %}
  </div>
</div>
{% endif %}

{% if site.disqus-shortname %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{ site.disqus-shortname }}'; // Required - Replace '<example>' with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
